apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ml-app
  template:
    metadata:
      labels:
        app: ml-app
    spec:
     serviceAccountName: telemetry-access
     containers:
      - name: ml-app
        image: us-central1-docker.pkg.dev/uplifted-earth-468613-f3/my-ml-app-repo/my-ml-app:latest

        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "1"
        ports:
        - containerPort: 8081
